body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edgess */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
.MainMenu {
    style: none;
    font-size: medium;
    margin: 25px 0 0 25px;
    background: #fa6705;
    font-family:Tahoma, Geneva, sans-serif;
    font-color:#1F1A17;
    border:thin solid #e8ece9;
    width:200px;
    padding:14px 14px 0 0;
}
#navMain ul li a:hover{
color:#e0993e;
}
ul{
    list-style: none;
}