\body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: black;
}

/* Set padding to keep content from hitting the edgess */
.body-content {
    padding-left: 200px;
    padding-right: 15px;
    padding-top: 20px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {

}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}
#MainMenu {
    font-size: medium;
    background: #fa6705;
    font-family:Tahoma, Geneva, sans-serif;
    color:#1F1A17;
    border:thin solid #e8ece9;
    float: left;
    width:200px;
    padding:20px 20px 0 0;
}
#navMain ul li a:hover{
color:#e0993e;
}

#navMain ul li a{
color:#1F1A17;
}

ul
{
	list-style:none;
}

#MainMenu li a:link
{
	color: black;
	text-decoration: none;
	
}

#MainMenu li a:visited
{
	color: black;
    text-decoration: underline;
}

#MainMenu li a:hover
{
	color: black;
    text-decoration: underline;
    font-weight: bold;
}


li
{
	padding-top: 5px;
	padding-bottom: 5px;
}
.form-horizontal {
    margin-left: 0px;
}
.valmyndFyrirsogn{
   margin-left: 40px;
}
fieldset {
    border: 1px groove #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}
legend {
    text-align: left;
    font-weight: bold;
}
#iceland
{
    width:20px;
    margin-left:1200px;
    margin-top:-100px;
}
#england
{
    width:20px;
    margin-left:1170px;
    margin-top:-140px;
}
