@model IQueryable<TextDuck.Models.srtFiles>

<h2>Upplýsingarnar hafa verið vistaðar</h2>
<div>
    <p>Upplýsingarnar sem þú hefur breytt hafa verið vistaðar</p>
</div>

<div>
    @Html.ActionLink("Fara á forsíðu", "Index")
</div>
