@model IQueryable<TextDuck.Models.srtFiles>

<h1>Skránni hefur verið breytt</h1>
<div>
    <p>Breytingarnar sem þú gerðir á skránni hafa verið vistaðar</p>
</div>

<div>
    @Html.ActionLink("Fara á forsíðu", "Index")
</div>
