@{
    ViewBag.Title = "Hafa samband";
}
<h2>@ViewBag.Title.</h2>

<address>
    Menntavegur 1<br />
    101 Reykjavik<br />
    <abbr title="Phone">S:</abbr>
    555-5555
</address>

<address>
    <strong> Hafa samband: </strong>   <a href="mailto:samband@skjatextar.is">samband@skjatextar.is</a><br />
</address>