@{
    ViewBag.Title = "Hafa samband";
}
<div class="borderUppi">
    <h4><b>@ViewBag.Title</b></h4>
</div>

    <p>Leiðbeiningar um siðuna má finna <a href="Help">hér</a>.</p>
    <p>Ef aðrar spurningar vakna er einnig hægt ad senda póst a stjornendur siðunnar: <a href="mailto:samband@TextDuck.is">samband@TextDuck.is</a> </p>

    <h4><b>Staðsetning</b></h4>
    <p>Menntavegur 1</p>
    <p>101 Reykjavík</p>
    <p>S: 555-5555</p>
