@{
    ViewBag.Title = "Hafa samband";
}
<h2>@ViewBag.Title.</h2>

<div class="borderUppi">
    Hafa Samband
    <p>Leiðbeiningar um siðuna má finna <a href="Hjalp">hér</a>.</p>
    <p>Ef aðrar spurningar vakna er einnig hægt ad senda póst a stjornendur siðunnar: <a href="mailto:samband@TextDuck.is">samband@TextDuck.is</a> </p>



    Tengiliður
    <p>TextDuck</p>
    <p>Menntavegur 1</p>
    <p>101 Reykjavík</p>
    <p><abbr title="Phone">S:</abbr>
    555-5555</p>
</div>
