@{
    ViewBag.Title = "Hafa samband";
}
<h2>@ViewBag.Title.</h2>

<fieldset>
    <legend>Hafa Samband</legend>
    <p>Leidbeiningar um siduna ma finna <a href="Hjalp">her</a>.</p>
    <p>Ef adrar spurningar vakna er einnig haegt ad senda post a stjornendur sidunnar: <a href="mailto:samband@skjatextar.is">samband@skjatextar.is</a> </p>

</fieldset>

<fieldset>
    <legend>Tengilidur</legend>
    <p>TextDuck</p>
    <p>Menntavegur 1</p>
    <p>101 Reykjavik</p>
    <p><abbr title="Phone">S:</abbr>
    555-5555</p>
</fieldset>
