
@{
    ViewBag.Title = "Leiðbeiningar fyrir almenna notkun á vefsíðunni TextDuck";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<fieldset>
    <legend>Hjálparsíða</legend>
        <p>Leiðbeiningar fyrir almenna notkun á vefsíðunni TextDuck

Í hliðarvalmynd vefsíðunnar má sjá fjóra flipa.  “Skjátextar”, “Í vinnslu”, “Beiðnir og “Hafa samband”.  Allir fliparnir þjóna mismunandi tilgangi og hægt er að sjá nánar um hvern og einn hér fyrir neðan.

Skjátextar:
Þegar “Skjátextar” á hliðarvalmynd síðunnar er valið er hægt að sjá allar þær skrár sem vefsíðan hefur uppá að bjóða.  Hægt er að flokka skrárnar eftir tegund og/eða flokki til að auðvelda leit.  T.d. væri hægt að velja “Bíómynd” og “Hasar” og fá þá upp alla þá skjátexta sem uppfylla þessi skilyrði.  Ef ekkert er valið koma allir þýddir skjátextar í stafrófsröð eftir nafni.
Efnið er flokkað eftir því hvort um sé að ræða bíómynd eða þátt;
Þættir:
Ef þáttur hefur verið valin kemur upp valmynd þar sem hægt er að sjá hvaða þættir hafa verið þýddir í hverri seríu.  Þegar þátturinn sem óskað er eftir er fundinn er hægt að velja hann með því að ýta á nafn skránnar.  Þá kemur upp ný valmynd sem sýnir á hvaða tungumál þátturinn hefur verið þýddur.  Skráin er sótt með því að ýta á “Sækja”.
Bíómyndir:
Ef bíómynd hefur verið valin kemur strax upp valmynd sem sýnir á hvaða tungumál bíómyndin hefur verið þýdd.  Skráin með völdu tungumáli er sótt með því að ýta á “Sækja”.

Í vinnslu:
Ef “Í vinnslu” er valið er hægt að sjá hvaða skjátextar eru í vinnslu hjá TextDuck.  Gott er að hafa í huga að skoða þann lista áður en sett er inn beiðni um þýðingu.

Beiðnir:
Ef “Beiðnir” er valið er hægt að sjá hvaða efni er á biðlista um að vera þýtt og einnig er hægt að senda inn beiðni um að tiltekið efni verið þýtt.  Áður en ný beiðni er send inn er æskilegt að skoða listann um þær skrár sem eru nú þegar í beiðni.  Ef efnið sem óskað er eftir er nú þegar í listanum er hægt að smella á ör við skránna til að hækka eftirspurn hennar.  Til að senda inn beiðni þarf að setja inn .srt skrá.  Hægt er að lesa sér til um .srt skrár hér fyrir neðan.  Athugið að einungis er tekið við skrám af þessari tegund.  Gott er að passa vel nafnið á skránni og í hvaða flokk og tegund skráin er sett.

Nýskráning:
Á valmyndaborða efst á vefsíðunni er hægt að velja “Nýskráning” skrá sig sem notanda síðunnar.  Innskráðir notendur geta þýtt skrár og sett inn tilbúnar þýðingar fyrir notendur.  Innskráðir notendur hafa einnig aðgang að athugasemdakerfi þar sem hægt er að ræða um þær skrár sem verið er að þýða.

Ef þörf er á meiri hjálp er um að gera að velja <a href=“Contact”>“Hafa samband”</a> og láta okkur vita.

Upplýsingar um .srt skrár:
.srt skrár er sérstök tegund skráa sem inniheldur þýðingar fyrir efni.  Í skránum eru nákvæmar upplýsingar um hvenær hver og ein þýðing á að birtast á skjánum hjá notendum.  Mikilvægt er að .srt skráin sé í sömu möppu og efnið sem verið er að þýða og heiti sama nafni.  Skráin er síðan opnuð um leið og efnið er opnað og skráin spilast þá sem skjátexti með efninu sem valið var.

</p>
</fieldset>