
@{
    ViewBag.Title = "Leiðbeiningar fyrir almenna notkun á vefsíðunni TextDuck";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<fieldset>
    <legend>Leiðbeiningar fyrir almenna notendur</legend>

    <p>Efst á vefsíðunni er hægt að velja "Skjátextar". Þá sést listi með þremur valmöguleikum "Tilbúnir skjátextar", "Í vinnslu" og"Beiðnir".  Allir valmöguleikarnir þjóna mismunandi tilgangi og hægt er að sjá nánar um hvern og einn hér fyrir neðan.</p>

    <h5><b>Skjátextar</b></h5>
    <p>Þegar “Skjátextar” á hliðarvalmynd síðunnar er valið er hægt að sjá allar þær skrár sem vefsíðan hefur uppá að bjóða.</p>
    <p>ATH! Almennir notendur hafa ekki leyfi til að breyta skrám, breyta upplýsingum skráar eða gera athugasemd við skrá (Ef eitthvað af þessum valmöguleikum er valin er notandi sendur á innskráningarsíðu TextDuck). Almennum notendum er velkomið að gerast innsskráður notandi með því að nýskrá sig</p>
    <h5>Tilbúnir skjátextar</h5>
    <p>Ef "Tilbúnir skjátextar" er valið er hægt að sjá hvaða skjátexta TextDuck hefur upp á að bjóða. Þessir skjátextar eru tilbúnir til niðurhals. Til að niðurhala srt-skránni er einfaldlega hægt að ýta á titil skráarinnar.</p>

    <h5>Í vinnslu:</h5>
    <p>Ef “Í vinnslu” er valið er hægt að sjá hvaða skjátextar eru í vinnslu hjá TextDuck.  Gott er að hafa í huga að skoða þann lista áður en sett er inn beiðni um þýðingu.</p>

    <h5>Beiðnir:</h5>
    <p>Ef “Beiðnir” er valið er hægt að sjá hvaða efni er á biðlista um að vera þýtt og einnig er hægt að senda inn beiðni um að tiltekið efni verið þýtt.  Áður en ný beiðni er send inn er æskilegt að skoða listann um þær skrár sem eru nú þegar í beiðni.  Ef efnið sem óskað er eftir er nú þegar í listanum er hægt að smella á ör við skránna til að hækka eftirspurn hennar.  Til að senda inn beiðni þarf að setja inn .srt skrá.  Hægt er að lesa sér til um .srt skrár hér fyrir neðan.  Athugið að einungis er tekið við skrám af þessari tegund.  Gott er að passa vel nafnið á skránni og í hvaða flokk og tegund skráin er sett.</p>

    <h5>Nýskráning:</h5>
    <p>Á valmyndaborða efst á vefsíðunni er hægt að velja “Nýskráning” skrá sig sem notanda síðunnar.  Innskráðir notendur geta þýtt skrár og sett inn tilbúnar þýðingar fyrir notendur.  Innskráðir notendur hafa einnig aðgang að athugasemdakerfi þar sem hægt er að ræða um þær skrár sem verið er að þýða.</p>

</fieldset>
<fieldset>
<legend>Leiðbeiningar fyrir innskráða notendur</legend>

    <p>Ef notandi gerist innskráður notandi á TextDuck hefur hann leyfi til að gera eftirfarandi hluti</p>
    <p> Við treystum notendum okkar til að vera heiðarlegir og séu ekki með neina vitleysu. Við fylgjumst með ef svo er. </p>
    <dl>
        <dt>Breyta skrá</dt>
        <dd>Ef innskráður notandi velur að breyta skrá fær hann upp textakassa með skránni sem gerir honum það kleift. Þar getur hann leiðrétt þýðingu sem honum finnst mega betur fara eða bætt við þýðingu á línu sem hefur ekki verið þýdd</dd>
        <dt>Breyta upplýsingum um skrá</dt>
        <dd>Ef innskráður notandi velur að breyta upplýsingum um skrá getur hann breytt titli, tungumáli, tegund, flokk og stöðu skráar.  </dd>
        <dt>Bæta við athugasemd</dt>
        <dd>Ef innskráður notandi velur að bæta við athugasemd getur hann komið skoðun sinni um eitthvað málefni tengt skránni á framfæri. Við hvetjum notendur til að ræða saman um þýðingar á skrám á þessum þráði. Hægt er að sjá lista af öllum athugasemdum fyrir hverja skrá fyrir sig með þið að velja "Athugasemdir skjátexta" fyrir ofan listann. </dd>
    </dl>
        
</fieldset>
<fieldset>
    <legend>
        Upplýsingar um .srt skrár </legend>
    <p>.srt skrár er sérstök tegund skráa sem inniheldur þýðingar fyrir efni.  Í skránum eru nákvæmar upplýsingar um hvenær hver og ein þýðing á að birtast á skjánum hjá notendum.  Mikilvægt er að .srt skráin sé í sömu möppu og efnið sem verið er að þýða og heiti sama nafni.  Skráin er síðan opnuð um leið og efnið er opnað og skráin spilast þá sem skjátexti með efninu sem valið var.</p>
</fieldset>
    <p>Ef þörf er á meiri hjálp er um að gera að velja <a href=“Contact”>“Hafa samband”</a> og láta okkur vita.</p>

