
@{
    ViewBag.Title = "Leiðbeiningar fyrir almenna notkun á vefsíðunni TextDuck";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<fieldset>
    <legend>Hjálparsíða</legend>
        <p>Hjálparsíða</p>
</fieldset>