@{
    ViewBag.Title = "Home Page";
}

 
<h1>Um Okkur</h1>
 TextDuck er íslensk vefsíða sem heldur utan um þýðingar á ýmsu afþreyingarefni. 
 Almennir notendur vefsíðunnar geta sótt skjátexta og beðið um að tiltekið efni verði þýtt ef það er ekki til á skrá. 
 Alla tilbúna skjátexta má finna undir “Skjátextar” og klikka á “Tilbúnir Skjátextar” í listanum sem þar birtist. 
 Hægt er að leita að skjátextum, eða raða þeim upp eins og hentar og leita í öllum.  
 Notendur geta einnig séð hvaða skjátextar eru í vinnslu og hvaða efni aðrir notendur hafa beðið um að verði þýtt.
 Hægt er að búa til aðgang að síðunni.  Innskráðir notendur síðunnar geta þýtt skjátexta og skráð inn tilbúna skjátexta.


<div class="Recommended">
    <h1>Við mælum með</h1>
    <table class="tableRecommend">
        <thead>
            <tr>
                <th>Þættir</th>
                <th>Bíómyndir</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Friends</td>
                <td>Kill Bill</td>
            </tr>
            <tr>
                <td> House of Cards </td>
                <td> Pretty Woman </td>
            <tr>
                <td>Entourage</td>
                <td>Rocky</td>
            </tr>
        </tbody>
    </table>
</div>