@{
    ViewBag.Title = "Home Page";
}

 
<form>
    <fieldset>
        <legend>Um okkur:</legend>
       Karitas sendi draumamanninum skilabod midvikudaginn 7 mai. Enn hefur ekkert spurts til hans.
       Karitas er i agaetu asigkomulagi, midad vid adstaedur. 
       Tho er ekki mjog heilsusamlegt fyrir greyid stelpuna ad bida mikid lengur fyrir framan tolvupostinn. 
        Draumamadur, vinasamlegast hafdu samband, tvi Karitas mun ekki halda gedi mikid lengur. 
    </fieldset>
</form>

<div class="VidMaelumMed">
    <h1>Við mælum með</h1>
    <table>
        <th>Þættir</th>
        <th>Bíómyndir</th>
        <tbody>
            <tr>
                <td>Friends</td>
                <td>Kill Bill</td>
            </tr>
            <tr>
                <td> Hous of Cards </td>
                <td> Pretty Woman </td>
            <tr>
                <td>Entourage</td>
                <td>Rocky</td>
            </tr>
        </tbody>
    </table>
</div>