@model TextDuck.Models.FileRepository

<h2>Obbosí. Engar leitarniðurstöður fundust. </h2>
    <h2>Endilega skoðaðu <a href=Request>beiðnir</a> og <a href="Status">í vinnslu</a> 
    það gæti vel verið að einhver snillingur sé nú þegar að vinna í þýðingu á 
    efninu fyrir þig.</h2>

