@model IQueryable<TextDuck.Models.srtFiles>

<h2>Beiðnir</h2>
<div>
    <p>Beiðnin hefur verið færð</p>
</div>

<div>
    <button type="button" class="btn btn-default">@Html.ActionLink("Fara til baka", "Request")</button>
</div>
