@model IQueryable<TextDuck.Models.srtFiles>

<h1> srt Textar i Vinnslu</h1>

@foreach (var item in Model)
{
      <div class="jumbotron">
        <p class="Date">
            @Html.DisplayFor(modelItem => item.Date)
            <span class="glyphicon glyphicon-time"></span>
        </p>
        <h2 class="Title">@Html.ActionLink(item.Status, "Status")</h2>
        <p class="Text">@Html.DisplayFor(modelItem => item.Title)</p>
    </div>

}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
