@model IQueryable<TextDuck.Models.srtFiles>

<h1>Skjátexta hefur verið bætt við</h1>
<div>
    <p>Skjátextinn sem þú settir inn hefur verið bætt í listann.</p>
</div>

<div>
    @Html.ActionLink("Fara á forsíðu", "Index")
</div>
