@model IQueryable<TextDuck.Models.srtFiles>

<h2>Skjátexta hefur verið bætt við</h2>
<div class="ViewDiv">
    <p>Skjátextinn sem þú settir inn hefur verið bætt í listann.</p>
</div>

<div>
    <button type="button" class="btn btn-default">@Html.ActionLink("Fara á forsíðu", "Index")</button>
</div>