@using TextDuck.Models;
@using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Manage Account";
}

<h2>@User.Identity.GetUserName()</h2>

@Html.ActionLink("Breyta", "Manage", "Account")

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


