@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Villa";
}

<h1 class="text-danger">Villa.</h1>
<h2 class="text-danger">Obbosí. Villa kom upp. Reynum að gera betur næst :-)</h2>

<div>
    <button type="button" class="btn btn-default">@Html.ActionLink("Fara á forsíðu", "Index")</button>
</div>
